@import url("https://fonts.cdnfonts.com/css/euclid-circular-b");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Euclid";
  src: url("/assets/font/circular.ttf");
}

.custom-box-shadow {
  box-shadow: -3.93px 3.93px 3.93px 0px rgba(255, 255, 255, 0.43) inset,
    3.93px -3.93px 3.93px 0px rgba(182, 182, 182, 0.43) inset;
}
